$primario: #E7A117;
$secundario: #222832;
$terciario: #E0AF4F;

$fuente-color: #EDEDED;
$gris-muted: #6D6A6D;

$like: #515151;
$alerta: #DF4343;

$background: #181B22;

$colores: (
  "primario" $primario,
  "secundario" $secundario,
  "terciario" $terciario,
);