// Navbar
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: $background;
  .sections {
    align-items: flex-end;
    display: flex;
    li {
      background-color: $terciario;
      border-radius: 1rem 2rem 0rem 0rem;
      box-shadow: -3px -6px 20px $background;
      color: $secundario;
      font-weight: bold;
      padding: 1rem;
      margin-left: -0.5rem;
    }
    li.active {
      background-color: $secundario;
      z-index: 3;
      color: $fuente-color;
    }
  }
}
// User
.user-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 10rem;
  overflow: hidden;
  & img {
    width: 100%;
  }
}
.user-log {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.5rem;
  color: $primario;
}
// Buttons
.btn {
  background-color: transparent;
  border: 0 solid;
  border-radius: .7rem;
  color: $terciario;
  font-weight: bold;
  font-size: .8rem;
  padding: .5rem;
  margin: .5rem;
  text-transform: uppercase;
  cursor: pointer;

  &.primary {
    background-color: $primario;
    color: $fuente-color;
    font-size: 1.2rem;
    letter-spacing: 0.07em;
    margin: .5rem .4rem;
    width: 100%;
    &.form-summit {
      margin: 0;
      padding: .7rem;
      width: 100%;
    }
  }
  &.outline {
    margin: 0;
    padding: .4rem 1rem;
  }
  &.like {
    margin: 0 1rem;
    color: $gris-muted;
    font-size: 2.5rem;
    &:hover {
      color: $terciario;
    }
  }
  &.text-link {
    text-decoration: underline;
    padding: 1rem;
    &-primario {
      color: $primario;
    }
    &-secundario {
      color: $secundario;
    }
  }
}
// Containers
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto 1rem;
  width: fit-content;
  height: fit-content;
  @media screen and (min-width: 576px) {
    margin: auto;
  }
}
// Tweet Cards
.tweet-card {
  align-items: flex-start;
  background-color: $secundario;
  color: $fuente-color;
  border-radius: 1rem;
  margin: .5rem;
  padding: 1rem;
  font-size: 1.5rem;
  header {
    color: $fuente-color !important;
    align-items: center;
    display: flex;
  }
  &.create {
    @media screen and (min-width: 992px) {
      align-items: center;
      display: flex;
    }
  }
}
.tweet-list .tweet-card:first-of-type {
  margin-top: 0;
}
// Form
.form-log {
  padding-top: 2rem;
  border-radius: 1rem;
}
.post-textarea {
  border-radius: .7rem;
  font-size: 1rem;
  height: 34px;
  width: 100%;
  resize: none;
  overflow: hidden;
  padding: .5rem;
}
// Inputs
@each $nombre, $valor in $colores {
  .input-group-#{$nombre} {
    position: relative;
    margin: 0 2rem;
    input {
      border: 1px solid $valor;
      border-radius: .5rem;
      background-color: transparent;
      color: $terciario;
      font-size: 1.4rem;
      margin: .5rem 0;
      padding: .5rem;
      width: 100%;
      @if $nombre == 'secundario' {
        color: $secundario;
      }
    }
    label {
      background-color: $secundario;
      color: $terciario;
      font-size: 1.4rem;
      position: absolute;
      left: 1rem;
      top: -.3rem;
      @if $nombre == 'secundario' {
        background-color: $terciario;
        color: $secundario;
      }
    }
  }
}
// Mensajes
.message-empty {
  color: $gris-muted;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 3rem;
  margin: 1rem auto;
  width: fit-content;
  & svg {
    font-size: 10rem;
  }
  & span {
    font-size: 1.5rem;
  }
}

// Animations
@mixin shadow-pop($nombre, $color) {
  @keyframes shadow-pop-#{$nombre} {
    0% {
      box-shadow: 0 0 $color, 0 0 $color, 0 0 $color, 0 0 $color, 0 0 $color, 0 0 $color, 0 0 $color, 0 0 $color;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: -1px -1px $color, -2px -2px $color, -3px -3px $color, -4px -4px $color, -5px -5px $color, -6px -6px $color, -7px -7px $color, -8px -8px $color;
      transform: translateX(8px) translateY(8px);
    }
  }
}
@include shadow-pop('terciario', $secundario);
@include shadow-pop('secundario', $terciario);
.shadow-pop-secundario {
  animation: shadow-pop-secundario 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.shadow-pop-terciario {
  animation: shadow-pop-terciario 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}