.logo-fixed {
  align-items: center;
  display: flex;
  margin: 1rem;
  z-index: 100;
  .logo {
    width: 4rem;
    img {
      width: 100%;
    }
  }
  p {
    color: #222832;
    font-family: 'Fira Mono', monospace;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0.29em;
    margin: auto .5rem;
    text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
    display: block;
    left: 1rem;
    position: fixed;
    top: 2rem;
    width: fit-content;
    .logo {
      margin: auto;
    }
  }
  @media screen and (min-width: 992px) {
    margin: 0;
    left: .5rem;
    .logo {
      width: 6rem;
    }
    p {
     font-size: 2rem;
    }
  }
}
.user-icon {
  color: $primario;
  font-size: 2.7rem;
}